<%- include('./partials/header')  %> 


<div class="jumbotron">
  <div class="container">
    <div class="head">
      <h1 class="display-4">Welcome  to  Cortex</h1>
    </div>
      <hr class="my-4">
        <h3 class="lead">Where habits are formed</h3>
        <br>
        <!-- <h2>Log in to enter</h2> -->
  </div>
</div>

<br>
<div class="container mb-5 mt-5">
  <div class="row">
    <div class="col-lg-4">
      <h3>Psychology</h3>
      <p class="lead">Habit formation is a process in which a behavior becomes automatic through repetition. It is thought to occur through a loop of cue, routine, and reward, with the brain creating a connection between the cue and the desired reward, making the behavior more likely to be repeated in the future.</p>
    </div>
    <div class="col-lg-4">
      <h3>Efficiency</h3>
      <p class="lead">Habits allow actions to be performed automatically, without conscious thought. This frees up cognitive resources for other tasks, and can make activities that once required effort and attention become almost effortless with practice.</p>
    </div>
    <div class="col-lg-4">
      <h3>Change</h3>
      <p class="lead">Developing positive habits can lead to improved health, productivity, and happiness. By shaping your actions and behaviors, you can in turn shape your thoughts, emotions, and overall wellbeing.</p>
    </div>
  </div>
</div>


<%- include('./partials/footer')  %> 