<%- include('./partials/header')  %> 


<div class="jumbotron">
  <div class="container">
    <div class="head">
      <h1 class="display-4">Welcome  to  Cortex</h1>
    </div>
      <hr class="my-4">
        <h3 class="lead">Where habits are formed</h3>
        <br>
        <!-- <h2>Log in to enter</h2> -->
  </div>
</div>

<br>
<div class="container mb-5 mt-5">
  <div class="row">
    <div class="col-lg-4">
      <h3>Psychology</h3>
      <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ea sunt expedita necessitatibus aspernatur nam officia quidem esse, veniam rerum, eveniet similique impedit nemo, ex quia unde officiis atque accusantium.</p>
    </div>
    <div class="col-lg-4">
      <h3>Efficiency</h3>
      <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa aliquid asperiores quos id nostrum quibusdam praesentium. Quos porro accusamus fuga exercitationem. Ipsa itaque vero nisi placeat! Dolorum nulla blanditiis sunt.</p>
    </div>
    <div class="col-lg-4">
      <h3>Change</h3>
      <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia ad inventore obcaecati? Deserunt et, quas minus tenetur nihil omnis harum earum corporis repellendus. Iure, repellendus? Quos dicta quia ad nesciunt.</p>
    </div>
  </div>
</div>


<%- include('./partials/footer')  %> 