/* .brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

.collection-item form {
  margin-top: -5px;
} */
/* ----------------------------------- BODY - GENERAL ----------------------------------- */
body {
  padding: 50px;
  font: 14px;
  font-family: 'Quicksand', sans-serif;
  background: #3D3E3D;
  color: white;
}

/* ----------------------------------- NAVIGATION + LOGIN ----------------------------------- */

/* Change the color of links on hover */
a:hover {
  background-color: #ADC5CF;
  color: white;
}

.navbar {
  grid-area: nav;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 30px 0 30px;
  font-family: 'Quicksand', sans-serif;
}

.navbar-brand {
  font-family: 'Monoton', cursive;
  font-size: 25px;
}

.nav-item {
  font-size: 18px;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-left:50px;
}

#login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  color: white;
}

h1{
  display: flex;
  font-family: 'Monoton', cursive;
}

/* ----------------------------------- LANDING ----------------------------------- */
.jumbotron{
  min-height: 300px;
  padding-top: 10%;
  padding-bottom: 10%;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  ), 
  url("/images/brain-bw.jpg");
  background-position: center;
  text-align: center;
}

.head {
  max-width: 700px;
  margin: 0px auto;
  padding-bottom: 2%;
}

.jumbotron .lead {
  font-size: 20px;
  font-weight: 400;
}

/* ----------------------------------- HABITS MAIN ----------------------------------- */
a{
  color: white;
}

#main-title{
  font-size: 40px;
  /* text-align: center; */
}

.table a:link{
  text-decoration: none;
}

.table a:hover{
  background-color: #ADC5CF;
  color: white;
}

.table{
  border-collapse: separate;
  border-spacing:0 20px;
  font-family: 'Quicksand', sans-serif;
  font-size: 23px;
  color: white;
}

/* ----------------------------------- SHOW ----------------------------------- */

h4 {
  font-family: 'Quicksand', sans-serif;
  font-size: 23px;
}

#edit-btn{
  margin-top: 10px;
}

#habit {
  margin-top: 20px;
  margin-bottom: 5px;
}

#show-tbl {
  margin-top: 20px;
  font-size:20px;
}

/* ----------------------------------- NEW ----------------------------------- */
.new-form{
  justify-content: center;
  padding-top: 40px;
  padding-left: 35%;
}