<%- include('../partials/header')  %> 

<h1>habit tracker</h1>

<table id="habits-list">
    <thead>
        <tr>
            <th>Habit</th>
            <th>Streak</th>
        </tr>
    </thead>
    <tbody>
        <% habits.forEach(h => { %> 
            <tr>
                <td><a href="/habits/<%= h._id %>">Details</a></td>
                <td><%= h.habit %></td>
            </tr>
        <% }); %> 
    </tbody>
</table>

<%- include('../partials/footer')  %> 